body {
    font-family: Lato, 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    background-image: url(wood.jpg);
    background-size: cover;
}

a {
    color: lightgrey;
    text-decoration: none;
    padding: 5px;
    transition: 0.5s;
}

button {
    width: 120px;
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.primary {
    background-color: #4CAF50;
    transition: 0.3s;
    width: 300px;
}
.primary:hover {
    background-color: black;
    transition: 0.3s;
}

.grid {
    padding: 20px;
    text-align: center;
    display: grid;
    grid-gap: 21px;
    grid-template-columns: 1fr;
}

#title, canvas {
    box-shadow: 3px 3px 3px #333;
    padding: 10px;
}

#title {
    color: white;
    background-color: black;
    width: 300px;
    margin: auto;
}

#canvas {
    background-color: lightgrey;
    width: 600px;
    height: 400px;
}

footer a:hover {
    color: black;
    background-color: white;
    box-shadow: 1px 1px 1px #EEE;
    transition: 0.5s;
}

footer {
    font-size: 20px;
    padding: 40px;
    background-color: black;
    color: white;
}
